@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

.body {
    height: 100vh;
    background: url('./img/makro-priroda-paporotnik-vetki-listia-zelenyi-fon.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.loginMenu {
    align-self: center;
    width: 240px;
    height: 300px;
    border-radius: 25px;
    border: solid white;
    display: flex;
    backdrop-filter:blur(5px);
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.inputForm {
    background: none;
    border: solid white;
    border-radius: 12px;
    height: 30px;
    padding: 10px;
    outline: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
}
.inputForm::placeholder {
    color: white;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}
.form p {
    font-family: Roboto;
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 12px;
}

.button {
    background: none;
    border: solid white;
    width: 60px;
    height: 30px;
    border-radius: 5px ;
    color: white;
    font-family: Roboto;
    cursor: pointer;
}
.button:hover{
    border: solid yellow;
    width: 100px;
    font-size: 15px;
}

.activebutton {
    color:black;
}

.link {
    border: none;
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-size: 25px;
}
.link:hover{
    color: yellow;
    font-size: 30px;
}
