.itemMenu {
    width: 360px;
    height: 580px;
    align-self: center;
    border: solid rgb(255 255 255);
    border-radius: 25px;
    backdrop-filter: blur(5px);
}
.itemHeader{
    font-family: Roboto;
    font-size: 50px;
    text-align: center;
}

.regMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    height: 78%;
}

.regInp {
    background: none;
    border: solid rgb(255 255 255);
    width: 80%;
    border-radius: 8px;
    align-self: center;
    height: 15%;
    color: rgb(255 255 255);
    text-align: center;
    font-size: 20px;
}
.regInp::placeholder{
    color: white;
    font-family: Roboto;
    font-size: 25px;
    text-align: center;
}
.regInp:hover{
    outline: none;
}
.regInp:active{
    outline: none;
}
.regButt {
    border: solid rgb(255 255 255);
    background: none;
    width: 50px;
    height: 50px;
    align-self: center;
    border-radius: 73px;
    color: rgb(255 255 255);
    font-family: Roboto;
    font-weight: bolder;
}
.regButt:hover{
    font-size: 20px;
    border: solid yellow;
    width: 50px;
    height: 50px;
}

.resultPar {
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
}